<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>

      function validacija(){
        if(document.getElementById('pretraga').value == ''){
          alert('Niste ništa ukucali za pretragu!');
        }
        else{
          document.getElementById('formaSearch').submit();
        }
      }

    </script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>

  <div id="vrhstr" class="top top-fixed">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #171616;">
      <a class="navbar-brand" href="/home"><img src="/images/giTareLogo.png" width="100px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
        </ul>
        <form id="formaSearch" action="/home" method="post" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name="pretraga" id="pretraga" placeholder="Pretraga" aria-label="Pretraga">
          <button class="btn btn-danger" style="background-color: grey; border-color: black;" onclick="validacija()">Traži</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="collapse navbar-collapse profilnaHome" id="navbar-list-4">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/images/profilne/<%=kuki.naziv_profilne%>" width="40" height="40" class="rounded-circle">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/mojProfil/<%=kuki.id%>">Moj profil</a>
                    <a class="dropdown-item" href="/urediProfil/<%=kuki.id%>">Uredi profil</a>
                    <%if(kuki.status != 'Arhiviran'){%>
                      <a class="dropdown-item" href="/poruke">Poruke</a>
                    <%}%>
                    <% if(kuki.tip === 'Trgovac'){%>
                    <a class="dropdown-item" href="/dodajArtikal">Dodaj artikal</a>
                    <a class="dropdown-item" href="/artikli/<%=kuki.id%>">Moji artikli</a>
                    <a class="dropdown-item" href="/narudzbe/<%=kuki.id%>">Narudžbe</a>

                    <%}%>
                    <% if(kuki.tip === 'Administrator'){%>
                      <a class="dropdown-item" href="/dodajPodkategoriju">Dodaj podkategoriju</a>
                      <a class="dropdown-item" href="/statistika">Statistika</a>

                    <%}%>
                    <% if(kuki.tip === 'Kupac'){%>
                    <a class="dropdown-item" href="/korpa/<%=kuki.id%>">Moja korpa</a>
                    <a class="dropdown-item" href="/stanjaNarudzbi/<%=kuki.id%>">Narudžbe</a>
                    <%}%>
                    <a class="dropdown-item" href="/odjava">Odjavi se</a>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>

          </li>
        </ul>

      </div>
    </nav>
  </div>
  <div class="row">
  <div class="col-3 sideb">
    <br><br><br>
    <div style="text-align: center;">
    <h3 style="color: white;">Podkategorija: </h3>
    <h2 style="color: white;"><%=imePodkategorije%></h2>
    <br><br>
      <h4 style="color:white;">Sortirano od</h4>
      <h3 style="color:white;"><%=sortiranje%> artikla</h3>
      <br><br><br>

      <a href="/podkategorije/<%=idPodkategorije%>/vrijemeDesc/1"><button type="button" class="btn btn-secondary">Sortiraj od najnovijeg artikla</button></a>
      <a href="/podkategorije/<%=idPodkategorije%>/vrijemeAsc/1"><button type="button" class="btn btn-secondary">Sortiraj od najstarijeg artikla</button></a>
      <a href="/podkategorije/<%=idPodkategorije%>/cijenaDesc/1"><button type="button" class="btn btn-secondary">Sortiraj od najskupljeg artikla</button></a>
      <a href="/podkategorije/<%=idPodkategorije%>/cijenaAsc/1"><button type="button" class="btn btn-secondary">Sortiraj od najjeftinijeg artikla</button></a>
    <br><br><br>
    </div>

  </div>
    <div class="col-9 mainmeni">
  <%if(artikli.length != 0){%>
    <div class="description text-center">
      <div class="artikli">
        <div class="container">
          <%let i = 0;%>
          <%while(i < artikli.length){ %>
          <div class="row">
            <%for(let j = 0; j < 4; j++){%>
            <%if(i >= artikli.length) {%>
            <%while((i % 4) != 0){%>
            <div class="col-sm dodatni" style="width: 100%;">
              <div class="mx-auto dodatni">
                <div class="card-body text-center mx-auto">
                  <div class='cvp'>
                  </div>
                </div>
              </div>
            </div>
            <%i++;%>
            <%if((i%4) == 0) break;%>
            <%}%>
            <%break;%>
            <%}%>
            <div class="col-sm">
              <div class="card mx-auto"> <a href="/artikal/<%=artikli[i].id_artikla%>"><img class='artikal mx-auto img-thumbnail' src="/images/artikli/<%=slikeArtikala[i]%>" width="auto" height="auto" /></a>
                <div class="card-body text-center mx-auto">
                  <div class='cvp'>
                    <%if(artikli[i].naziv_artikla.length >= 20){%>
                    <a class="art" href="/artikal/<%=artikli[i].id_artikla%>"><h6 class="card-title font-weight-bold"><%=artikli[i].naziv_artikla.substring(0,20) + "..."%></h6></a>
                    <%}%>
                    <%if(artikli[i].naziv_artikla.length < 20){%>
                    <a class="art" href="/artikal/<%=artikli[i].id_artikla%>"><h6 class="card-title font-weight-bold"><%=artikli[i].naziv_artikla.substring(0,20)%></h6></a>
                    <%}%>                    <p class="card-text"><%=artikli[i].cijena%>KM</p>
                  </div>
                </div>
                <a href="/artikal/<%=artikli[i].id_artikla%>" class="btn details px-auto art"><b>Pogledaj</b></a>
              </div>
              <br>

            </div>
            <%i++;%>
            <%}%>
          </div>
          <%}%>
          <br><br>
        </div>
      </div>
      <%if(ukupnoMogucihStranica > brojstranice && brojstranice != 1){%>
        <a href="/podkategorije/<%=idPodkategorije%>/<%=sortiranjeParametar%>/<%=brojstranice-1%>"><button type="button" class="btn btn-secondary">Prošla stranica</button></a>
        <a href="/podkategorije/<%=idPodkategorije%>/<%=sortiranjeParametar%>/<%=brojstranice+1%>"><button type="button" class="btn btn-secondary">Iduća stranica</button></a>
      <%}%>
      <%if(ukupnoMogucihStranica > brojstranice && brojstranice == 1){%>
        <a href="/podkategorije/<%=idPodkategorije%>/<%=sortiranjeParametar%>/<%=brojstranice+1%>"><button type="button" class="btn btn-secondary">Iduća stranica</button></a>
      <%}%>
      <%if(ukupnoMogucihStranica == brojstranice && brojstranice != 1){%>
        <a href="/podkategorije/<%=idPodkategorije%>/<%=sortiranjeParametar%>/<%=brojstranice-1%>"><button type="button" class="btn btn-secondary">Prošla stranica</button></a>
      <%}%>
      <br><br>
    </div>

    </div>
  <%}%>

  </div>

  <!--bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!--/bootstrap js-->
  </body>
</html>
